<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @news.Task %>
</p>

<p>
  <strong>Company:</strong>
  <%= @news.company %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_path %>
