<p id="notice"><%= notice %></p>

<p>
  <strong>Who:</strong>
  <%= @company.who %>
</p>

<p>
  <strong>Why:</strong>
  <%= @company.why %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
